[Unit]
Description=conditional-reboot
# restart forever
StartLimitIntervalSec=0

[Service]
ExecStart=/usr/local/bin/conditional-reboot
Type=idle

Restart=always
RestartSec=60s

LimitNOFILE=4096
PrivateTmp=true
ProtectHome=read-only

[Install]
WantedBy=multi-user.target